html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#fullscreen {
    width: 100%;
    height: 100%;
    background-color: aqua;
}

#svg2 {
    width: 100%;
    background-color: red;
}
